<mat-toolbar class="header">
  <a routerLink="/"
    ><h2 class="logo"><i class="fa fa-book-open"></i></h2
  ></a>

  <span class="example-spacer"></span>

  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a routerLink="/task" routerLinkActive="active">Task</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <!-- <a routerLink="/task" routerLinkActive="active">Task</a> -->

  <!-- <a  routerLink="/contact" routerLinkActive="active">Contact</a> -->
</mat-toolbar>
