@import "../../../../main.style.scss";

.container {
  margin-bottom: 10rem;
}
.centered-content {
  padding: 3rem;
}
.task-manager-container {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.task-txt {
  color: black;
}
.task-list-container {
  position: relative;
  // display: flex;
  // flex-direction: column;
  flex-grow: 1;
  padding: 42px;
  background: #292c35;
  border-radius: 8px;

  .top-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .topbar-title {
      text-align: center;
    }
  }

  .task-add-button {
    transition: opacity 0.2s, transform 0.2s;
    transform: scale(0.85);
  }
}

// .list-menu {
//   display: flex;
//   margin-top: 15px;
//   flex-grow: 1;

// .list-item {
//   display: flex;
// }
//   .list-menu-item {
//     display: flex;
//     align-items: center;
//     padding: 5px 15px;
//     justify-content: space-between;
//     width: 100%;
//     color: #fff;
//     margin-bottom: 5px;

//     &:hover {
//       border-left: 4px solid #fcd9b8;
//     }

//     &.is-active {
//       background-color: #fcd9b8;
//       color: #292c35;
//     }
//   }
// }

.task {
  display: flex;
  background: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;
  align-items: center;

  // .task-buttons {
  //   opacity: 1;
  //   transform: scale(1);
  // }

  // &.completed .task-text {
  //   text-decoration: line-through;
  //   opacity: 0.8;
  // }

  .task-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .title-text {
      font-weight: bold;
      font-size: 17px;
      letter-spacing: 1px;
      line-height: 0;
      padding-top: 1.2rem;
      padding-bottom: 0.3rem;
    }
  }

  // .task-buttons {
  //   transition: opacity 0.2s, transform 0.2s;
  //   opacity: 0;
  //   transform: scale(0.85);
  // }
}

.empty-state-text {
  font-size: 20px;
  color: #777;
  text-align: center;
}

.box-two {
  background: #292c35;

  .title {
    margin-bottom: 2.5rem;
    text-align: center;
  }

  .input {
    margin-bottom: 1rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
    .button-right {
      padding: 8px 30px;
    }
  }
}

.done {
  opacity: 0.7;
  border-left: 10px solid #fcd9b8;
}
