<div class="centered-content">
  <!-- Page one -->
  <section *ngIf="page == 1" class="centered-content">
    <div class="task-manager-container">
      <!-- <div class="sidebar">
      <h1 class="title has-text-primary">Lists</h1>
      <div class="list-menu">
        <div class="list-item"></div>
        <a class="list-menu-item">
          <p>List</p>
        </a>
        <div class="icon">
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-times"></i>
        </div>
      </div>

      <button class="button is-primary has-text-white" routerLink="/new-list">
        + New List
      </button>
    </div> -->

      <div class="task-list-container">
        <div>
          <div class="top-bar">
            <h1 class="title has-text-primary">Tasks</h1>
          </div>

          <!-- Task Elements -->
          <div class="task" *ngFor="let task of tasks">
            <div class="task-text">
              <p>{{ task.title }}</p>
            </div>
            <div class="task-buttons">
              <button class="button">
                <div class="icon">
                  <i class="fas fa-check"></i>
                </div>
              </button>
              <button class="button" style="margin-left: 10px">
                <div class="icon">
                  <i class="fas fa-edit"></i>
                </div>
              </button>
              <button class="button is-danger" style="margin-left: 10px">
                <div class="icon">
                  <i class="fas fa-trash"></i>
                </div>
              </button>
            </div>
          </div>

          <!-- <h3 class="empty-state-text">
          There are no tasks here! Click the add button to create a new task.
        </h3> -->

          <div class="fix-btn">
            <button
              (click)="backPageTwo()"
              class="task-add-button button is-primary"
            >
              + Add Task
            </button>
          </div>
        </div>

        <!-- <div>
        <h3 class="empty-state-text">Please select a list from the sidebar</h3>
      </div> -->
      </div>
    </div>
  </section>

  <!-- page two(create a new task) -->
  <section *ngIf="page == 2">
    <div class="centered-content">
      <div class="modal-box box-two">
        <h1 class="title has-text-primary">Create a new task</h1>

        <input
          #taskTitleInput
          class="input has-background-light is-medium"
          type="text"
          placeholder="New task..."
        />
        <br /><br />
        <div class="buttons is-right">
          <button class="button is-medium" (click)="cancelBtn()">Cancel</button>
          <!-- make en event that catch the input value -->
          <button
            class="button is-primary has-text-white is-medium"
            (click)="createTask()"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
