<footer class="footter">
  <!-- container -->
  <div class="footer-container">
    <!-- top-footer -->
    <div class="top-footer">
      <!-- icon-leftside -->
      <div class="icon">
        <a class="has-text-primary" routerLink="/"
          ><i class="fa fa-book-open"></i
        ></a>
      </div>

      <!-- footer-menu -->
      <div class="top-footer-menu">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >HOME</a
        >
        <a routerLink="/task" routerLinkActive="active">TASK</a>
        <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
        <a>SERVICE</a>
      </div>
      <div class="social">
        <!-- social icones - right side -->
        <div class="iconer">
          <a><i class="fa fa-instagram icon"></i></a>
          <a><i class="fa fa-twitter icon"></i></a>
          <a><i class="fa fa-facebook ficon"></i></a>
        </div>
      </div>
    </div>

    <!-- line -->
    <div class="line"></div>

    <!-- middle footer -->
    <div class="subscribe centered-content">
      <p class="footer-title">SUBSCRIBE NOW</p>
      <form>
        <input
          class="input-footer"
          placeholder="Your Email"
          name="Email"
          type="text"
        />
        <button class="btn is-ligh-dark">
          <i class="fas fa-angle-right"></i>
        </button>
      </form>
    </div>

    <!-- Botten-footer -->
    <div class="footer-botten">
      <p>Copyright 2021 by Refsnes Data. All Rights Reserved.</p>
      <p>
        Made with <span><i class="fas fa-heart"></i></span> in Nybro, Kalmar
        county, Sweden. © Inc. Terms Privacy
      </p>
    </div>
  </div>
</footer>
