.footter {
  margin-top: auto;
  background-color: #292c35;
  min-height: 10rem;

  .footer-container {
    margin: 0 6rem;
    padding-top: 4rem;
    .top-footer {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      .top-footer-menu {
        padding-left: 1.5rem;
        letter-spacing: 1px;
        a {
          font-size: 10px;
          color: rgba(255, 255, 255, 0.226);
          white-space: nowrap;
          padding-left: 1.5rem;
          &:hover {
            color: #e09145;
          }
        }
      }

      .social {
        .iconer {
          width: 5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.226);
            &:hover {
              color: #e09145;
            }
          }
        }
      }
    }

    .line {
      border-bottom: 1px solid rgb(68, 67, 67);
      padding: 0.6rem 0;
    }

    .subscribe {
      .footer-title {
        padding-right: 1.5rem;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.226);
        font-size: 11px;
      }

      .input-footer[type="text"] {
        background-color: #a5a5a544;
        outline: 0;
        border: none;
        padding: 2.9px;
        padding-left: 6px;
        color: rgba(218, 218, 218, 0.575);

        &:focus {
          outline: 0;
        }

        &::placeholder {
          color: rgba(218, 218, 218, 0.575);
          font-size: 10px;
        }
      }

      .btn {
        background-color: #e09145;
        border: none;
        padding: 2.9px 10px;
        outline: 0;
        color: rgb(255, 206, 100);
      }
    }
    .footer-botten {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 0;
      padding-top: 3rem;
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 550px) {
  .top-footer {
    .top-footer-menu {
      padding-left: 0 !important;
      margin: 0px 10px !important;
      a {
        font-size: 9px !important;
        padding-left: 1rem !important;
      }
    }

    .social {
      .iconer {
        width: 4rem !important;
        a {
          font-size: 10px !important ;
        }
      }
    }
  }
}

@media screen and (max-width: 524px) {
  .footer-title {
    font-size: 9px !important;
  }

  .input-footer[type="text"] {
    &::placeholder {
      font-size: 9px !important;
    }
  }
}

@media screen and (max-width: 508px) {
  .footer-title {
    font-size: 7px !important;
  }
  .footer-botten {
    padding-top: 2rem !important;
    font-size: 8px !important;
  }

  .line {
    padding: 0.5rem 0rem !important;
    margin-left: 4rem !important;
  }
}
